body {
  background-image: url('./images/bg_pattern.png');
  height: 100vh;
  background-size: 500px;
  background-color: rgb(155, 138, 106);
}
#scroll {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-position: center;
  background-image: url('./images/bg-scroll.png');
  background-attachment: fixed;
  height: 90vh;
  max-height: 700px;
  width: calc(90vh / 1.63vh);
  max-width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
header .title {
  position: absolute;
  top: 8vh;
  left: 5rem;
  right: 0;
  margin: 0 atuo;
  text-align: center;
  font-weight: 800;
  transform: perspective(300px) skewX(-20deg) rotateX(-20deg);
}
.inner {
  position: absolute;
  left: 26%;
  width: 53%;
}
.description {
  top: 16%;
}
.detail {
  top:38%; 
}
h4 {
  padding: 8px 0 4px;
  font-size: 14px;
  color: rgb(90, 62, 62);
  font-weight: 700;
  font-family: sans-serif;
  transform: perspective(300px) rotateX(20deg);
}
.detail h4{
  font-size: 13px;
  font-weight: 600;
}
.member h4 {
  font-size: 11px;
  color: #222;
  padding-left: 10px;
}
.member > h4 {
  font-size: 13px;
  color: #222;
  padding: 0 5px;
}
.member p {
  padding: 0 10px;
}
p {
  font-size: 10px;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 1px;
  color: #555;
}

.member {
  top:65%;
}